.nav-div-top {
  height: 40px;
  background-color: #000;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding-left: 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-decoration: none;
}

.image {
  padding-top: 6px;
  padding-bottom: 2px;
}

.text-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.link-block-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding-right: 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-decoration: none;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-block-2 {
  padding-left: 6px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.link {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.body {
  font-size: 16px;
}

.button {
  display: none;
}

.slide {
  background-image: url('../images/Layer-8.jpeg');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slider {
  height: 420px;
}

.slide-2 {
  background-image: url('../images/jc-bonassin-304249-unsplash.jpeg');
  background-position: 100% 16%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.about-div {
  margin-top: 12px;
  margin-bottom: 12px;
}

.heading {
  margin-top: 30px;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.text-block-2 {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  text-transform: uppercase;
}

.tab-link-tab-2 {
  border-style: none;
  border-width: 1px;
  border-color: #000;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
}

.tab-link-tab-2:hover {
  background-color: #962727;
  color: #fff;
}

.tab-link-tab-2.w--current {
  background-color: #d83939;
  color: #fff;
}

.text-block-3 {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  text-transform: uppercase;
}

.text-block-4 {
  text-transform: uppercase;
}

.tab3-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraph {
  padding-top: 12px;
  padding-right: 12px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.tab-link-tab-1:hover {
  background-color: #962727;
  color: #fff;
}

.tab-link-tab-1.w--current {
  border-right: 1px solid #fff;
  background-color: #d83939;
  color: #fff;
}

.tab-link-tab-1.w--current:hover {
  background-color: #d83939;
}

.tab-link-tab-3 {
  border-left: 1px solid #fff;
}

.tab-link-tab-3:hover {
  background-color: #962727;
  color: #fff;
}

.tab-link-tab-3.w--current {
  background-color: #d83939;
  color: #fff;
}

.div-block-2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.why-us-div {
  margin-top: 12px;
  margin-bottom: 12px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 340px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  width: 320px;
  height: 340px;
}

.heading-2 {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
}

.text-block-5 {
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
}

.products-div {
  margin-top: 12px;
  margin-bottom: 12px;
}

.tabs-menu-copy {
  text-align: center;
}

.tab-link-tab-1-copy {
  border-style: solid;
  border-width: 1px;
  border-color: #d83939;
  background-color: transparent;
}

.tab-link-tab-1-copy:hover {
  background-color: #962727;
  color: #fff;
}

.tab-link-tab-1-copy.w--current {
  margin-right: 8px;
  margin-left: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #d83939;
  background-color: #d83939;
  color: #fff;
}

.tab-link-tab-1-copy.w--current:hover {
  background-color: #962727;
  color: #fff;
}

.tab-link-tab-2-copy {
  margin-right: 8px;
  margin-left: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #d83939;
  background-color: transparent;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: #000;
}

.tab-link-tab-2-copy:hover {
  background-color: #962727;
  color: #fff;
}

.tab-link-tab-2-copy.w--current {
  background-color: #d83939;
  color: #fff;
}

.tab-link-tab-3-copy {
  margin-right: 8px;
  margin-left: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #d83939;
  background-color: transparent;
  color: #000;
}

.tab-link-tab-3-copy:hover {
  background-color: #962727;
  color: #fff;
}

.tab-link-tab-3-copy.w--current {
  background-color: #d83939;
  color: #fff;
}

.tab3-div-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.image-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.contact-div {
  margin-top: 12px;
  margin-bottom: 12px;
}

.contact-div1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.div-block-8 {
  width: 420px;
  height: 320px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-block-10 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 90px;
  background-color: #d83939;
}

.image-7 {
  padding: 12px;
}

.div-block-11 {
  padding-left: 14px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.link-block-3 {
  color: #000;
  text-decoration: none;
}

.text-block-6 {
  color: #333;
}

.map {
  width: 420px;
  height: 320px;
}

.footer-div {
  height: 40px;
  background-color: #000;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block-7 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  color: hsla(0, 0%, 100%, 0.77);
}

.text-block-7-copy {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  color: hsla(0, 0%, 100%, 0.77);
}

.link-2 {
  color: hsla(0, 0%, 100%, 0.77);
  text-decoration: none;
}

.div-block-12 {
  display: none;
}

.div-block-13 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  margin-bottom: 18px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .slide {
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
  }
  .slider {
    height: 260px;
  }
  .paragraph {
    margin-top: 10px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .image-2 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .link-block {
    padding-left: 10px;
  }
  .link-block-copy {
    padding-right: 15px;
  }
  .container-2 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link-block-2 {
    padding-left: 10px;
  }
  .div-block {
    display: none;
  }
  .button {
    display: block;
    margin-right: 10px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #d83939;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  }
  .tab3-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .paragraph {
    padding-left: 12px;
  }
  .image-2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 560px;
    padding-right: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  .tabs-menu {
    padding-left: 12px;
  }
  .div-block-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-4 {
    height: 200px;
  }
  .tabs-menu-copy {
    padding-left: 12px;
  }
  .tab3-div-copy {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image-3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .image-4 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .image-5 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .image-6 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .contact-div1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-8 {
    width: 320px;
    margin-top: 6px;
    margin-bottom: 6px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .map {
    width: 320px;
  }
  .text-block-7 {
    padding-right: 6px;
    font-size: 14px;
  }
  .text-block-7-copy {
    padding-left: 6px;
    font-size: 14px;
  }
  .div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30vh;
    margin-top: 16px;
    margin-bottom: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link-3 {
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
  }
  .container-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-14 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

@media (max-width: 479px) {
  .tab-link-tab-2 {
    margin-right: 12px;
  }
  .tab3-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tab-link-tab-1 {
    margin-right: 12px;
    border-bottom: 1px solid #fff;
  }
  .tab-link-tab-1.w--current {
    margin-right: 12px;
    border-bottom: 1px solid #fff;
    border-right-style: none;
  }
  .tab-link-tab-3 {
    margin-right: 12px;
    border-top: 1px solid #fff;
    border-left-style: none;
  }
  .div-block-2 {
    width: 300px;
    margin-right: 14px;
    margin-left: 14px;
    padding-right: 0px;
  }
  .tab-link-tab-1-copy {
    margin-right: 12px;
    margin-left: 8px;
  }
  .tab-link-tab-1-copy.w--current {
    margin-right: 12px;
    border-bottom: 1px solid #fff;
    border-right-style: none;
  }
  .tab-link-tab-2-copy {
    margin-right: 12px;
  }
  .tab-link-tab-3-copy {
    margin-right: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #d83939;
  }
  .tab3-div-copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-8 {
    width: 280px;
    padding-right: 7px;
    padding-left: 7px;
  }
  .map {
    width: 280px;
  }
  .text-block-7 {
    padding-right: 4px;
    font-size: 11px;
  }
  .text-block-7-copy {
    padding-left: 4px;
    font-size: 11px;
  }
}

