.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.heading {
  margin-top: 40px;
  font-family: Oswald, sans-serif;
  text-align: center;
  letter-spacing: 6px;
  text-transform: capitalize;
}

.image {
  width: 360px;
  height: 360px;
}

@media screen and (max-width: 479px) {
  .image {
    width: 280px;
    height: 280px;
  }
}